nodered/flow.json
[
  {
    "id": "ha-server-lab",
    "type": "server",
    "host": "192.168.0.147",
    "port": "8123",
    "haconfig": {
      "stripacketTimeout": 5000
    },
    "name": "Home Assistant",
    "apiUrl": "http://192.168.0.147:8123/api/",
    "clientUrl": "http://localhost:1880"
  },
  {
    "id": "mqtt-lab",
    "type": "mqtt-broker",
    "name": "Mosquitto",
    "broker": "192.168.0.147",
    "port": "1883",
    "clientid": "nodered_mqtt_lab",
    "autoConnect": true,
    "usetls": false,
    "compatmode": false,
    "protocolVersion": "MQTTv3.1.1",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthpayload": "",
    "birthmsg": {}
  },
  {
    "id": "lab-light-1-state-ha",
    "type": "server-state-changed",
    "server": "ha-server-lab",
    "entityid": "light.lab_room_room_light_1",
    "entityidtype": "exact",
    "un多功能": "CURRENT",
    "stateType": "str",
    "outputloc": "payload",
    "forceConversione": false,
    "output": "toJSON",
    "options": {
      "preserveCurrentEntities": false
    },
    "name": "Lab Light 1 State Change"
  },
  {
    "id": "lab-light-1-state-out",
    "type": "mqtt-out",
    "z": "flow-lab",
    "name": "Lab Light 1 State",
    "topic": "homeassistant/light/lab_room_room_light_1/state",
    "qos": "1",
    "retain": "true",
    "broker": "mqtt-lab",
    "x": 340,
    "y": 100,
    "wires": []
  },
  {
    "id": "lab-light-1-set-in",
    "type": "mqtt-in",
    "z": "flow-lab",
    "name": "Lab Light 1 Set",
    "topic": "homeassistant/light/lab_room_room_light_1/set",
    "qos": "1",
    "broker": "mqtt-lab",
    "x": 60,
    "y": 300,
    "wires": [
      ["lab-light-1-fn"]
    ]
  },
  {
    "id": "lab-light-1-fn",
    "type": "function",
    "z": "flow-lab",
    "name": "Lab Light 1 Service Call",
    "func": "var payload = msg.payload;\nvar data = {\n    domain: \"light\",\n    service: \"turn_\" + payload.toLowerCase(),\n    data: {\n        entity_id: \"light.lab_room_room_light_1\"\n    }\n};\nmsg.payload = data;\nreturn msg;",
    "outputs": 1,
    "x": 230,
    "y": 300,
    "wires": [
      ["lab-light-1-ha-call"]
    ]
  },
  {
    "id": "lab-light-1-ha-call",
    "type": "api-call-service",
    "z": "flow-lab",
    "server": "ha-server-lab",
    "name": "Lab Light 1 HA Call",
    "domain": "{{domain}}",
    "service": "{{service}}",
    "data": "",
    "dataType": "json",
    "merge": false,
    "location": "payload",
    "source": "",
    "x": 420,
    "y": 300,
    "wires": []
  },
  {
    "id": "lab-light-2-state-ha",
    "type": "server-state-changed",
    "z": "flow-lab",
    "server": "ha-server-lab",
    "entityid": "light.lab_room_room_light_2",
    "entityidtype": "exact",
    "un多功能": "CURRENT",
    "stateType": "str",
    "outputloc": "payload",
    "forceConversione": false,
    "output": "toJSON",
    "options": {
      "preserveCurrentEntities": false
    },
    "name": "Lab Light 2 State Change"
  },
  {
    "id": "lab-light-2-state-out",
    "type": "mqtt-out",
    "z": "flow-lab",
    "name": "Lab Light 2 State",
    "topic": "homeassistant/light/lab_room_room_light_2/state",
    "qos": "1",
    "retain": "true",
    "broker": "mqtt-lab",
    "x": 340,
    "y": 160,
    "wires": []
  },
  {
    "id": "lab-light-2-set-in",
    "type": "mqtt-in",
    "z": "flow-lab",
    "name": "Lab Light 2 Set",
    "topic": "homeassistant/light/lab_room_room_light_2/set",
    "qos": "1",
    "broker": "mqtt-lab",
    "x": 60,
    "y": 360,
    "wires": [
      ["lab-light-2-fn"]
    ]
  },
  {
    "id": "lab-light-2-fn",
    "type": "function",
    "z": "flow-lab",
    "name": "Lab Light 2 Service Call",
    "func": "var payload = msg.payload;\nvar data = {\n    domain: \"light\",\n    service: \"turn_\" + payload.toLowerCase(),\n    data: {\n        entity_id: \"light.lab_room_room_light_2\"\n    }\n};\nmsg.payload = data;\nreturn msg;",
    "outputs": 1,
    "x": 230,
    "y": 360,
    "wires": [
      ["lab-light-2-ha-call"]
    ]
  },
  {
    "id": "lab-light-2-ha-call",
    "type": "api-call-service",
    "z": "flow-lab",
    "server": "ha-server-lab",
    "name": "Lab Light 2 HA Call",
    "domain": "{{domain}}",
    "service": "{{service}}",
    "data": "",
    "dataType": "json",
    "merge": false,
    "location": "payload",
    "source": "",
    "x": 420,
    "y": 360,
    "wires": []
  },
  {
    "id": "lab-pir-state-ha",
    "type": "server-state-changed",
    "z": "flow-lab",
    "server": "ha-server-lab",
    "entityid": "binary_sensor.lab_room_pir_motion_sensor",
    "entityidtype": "exact",
    "un多功能": "CURRENT",
    "stateType": "str",
    "outputloc": "payload",
    "forceConversione": false,
    "output": "toJSON",
    "options": {
      "preserveCurrentEntities": false
    },
    "name": "Lab PIR State Change"
  },
  {
    "id": "lab-pir-state-out",
    "type": "mqtt-out",
    "z": "flow-lab",
    "name": "Lab PIR State",
    "topic": "homeassistant/binary_sensor/lab_room_pir_motion_sensor/state",
    "qos": "1",
    "retain": "true",
    "broker": "mqtt-lab",
    "x": 340,
    "y": 220,
    "wires": []
  },
  {
    "id": "main-light-1-state-ha",
    "type": "server-state-changed",
    "z": "flow-main",
    "server": "ha-server-lab",
    "entityid": "light.main_room_room_light_1",
    "entityidtype": "exact",
    "un多功能": "CURRENT",
    "stateType": "str",
    "outputloc": "payload",
    "forceConversione": false,
    "output": "toJSON",
    "options": {
      "preserveCurrentEntities": false
    },
    "name": "Main Light 1 State Change"
  },
  {
    "id": "main-light-1-state-out",
    "type": "mqtt-out",
    "z": "flow-main",
    "name": "Main Light 1 State",
    "topic": "homeassistant/light/main_room_room_light_1/state",
    "qos": "1",
    "retain": "true",
    "broker": "mqtt-lab",
    "x": 340,
    "y": 100,
    "wires": []
  },
  {
    "id": "main-light-1-set-in",
    "type": "mqtt-in",
    "z": "flow-main",
    "name": "Main Light 1 Set",
    "topic": "homeassistant/light/main_room_room_light_1/set",
    "qos": "1",
    "broker": "mqtt-lab",
    "x": 60,
    "y": 300,
    "wires": [
      ["main-light-1-fn"]
    ]
  },
  {
    "id": "main-light-1-fn",
    "type": "function",
    "z": "flow-main",
    "name": "Main Light 1 Service Call",
    "func": "var payload = msg.payload;\nvar data = {\n    domain: \"light\",\n    service: \"turn_\" + payload.toLowerCase(),\n    data: {\n        entity_id: \"light.main_room_room_light_1\"\n    }\n};\nmsg.payload = data;\nreturn msg;",
    "outputs": 1,
    "x": 230,
    "y": 300,
    "wires": [
      ["main-light-1-ha-call"]
    ]
  },
  {
    "id": "main-light-1-ha-call",
    "type": "api-call-service",
    "z": "flow-main",
    "server": "ha-server-lab",
    "name": "Main Light 1 HA Call",
    "domain": "{{domain}}",
    "service": "{{service}}",
    "data": "",
    "dataType": "json",
    "merge": false,
    "location": "payload",
    "source": "",
    "x": 420,
    "y": 300,
    "wires": []
  },
  {
    "id": "main-light-2-state-ha",
    "type": "server-state-changed",
    "z": "flow-main",
    "server": "ha-server-lab",
    "entityid": "light.main_room_room_light_2",
    "entityidtype": "exact",
    "un多功能": "CURRENT",
    "stateType": "str",
    "outputloc": "payload",
    "forceConversione": false,
    "output": "toJSON",
    "options": {
      "preserveCurrentEntities": false
    },
    "name": "Main Light 2 State Change"
  },
  {
    "id": "main-light-2-state-out",
    "type": "mqtt-out",
    "z": "flow-main",
    "name": "Main Light 2 State",
    "topic": "homeassistant/light/main_room_room_light_2/state",
    "qos": "1",
    "retain": "true",
    "broker": "mqtt-lab",
    "x": 340,
    "y": 160,
    "wires": []
  },
  {
    "id": "main-light-2-set-in",
    "type": "mqtt-in",
    "z": "flow-main",
    "name": "Main Light 2 Set",
    "topic": "homeassistant/light/main_room_room_light_2/set",
    "qos": "1",
    "broker": "mqtt-lab",
    "x": 60,
    "y": 360,
    "wires": [
      ["main-light-2-fn"]
    ]
  },
  {
    "id": "main-light-2-fn",
    "type": "function",
    "z": "flow-main",
    "name": "Main Light 2 Service Call",
    "func": "var payload = msg.payload;\nvar data = {\n    domain: \"light\",\n    service: \"turn_\" + payload.toLowerCase(),\n    data: {\n        entity_id: \"light.main_room_room_light_2\"\n    }\n};\nmsg.payload = data;\nreturn msg;",
    "outputs": 1,
    "x": 230,
    "y": 360,
    "wires": [
      ["main-light-2-ha-call"]
    ]
  },
  {
    "id": "main-light-2-ha-call",
    "type": "api-call-service",
    "z": "flow-main",
    "server": "ha-server-lab",
    "name": "Main Light 2 HA Call",
    "domain": "{{domain}}",
    "service": "{{service}}",
    "data": "",
    "dataType": "json",
    "merge": false,
    "location": "payload",
    "source": "",
    "x": 420,
    "y": 360,
    "wires": []
  },
  {
    "id": "main-light-3-state-ha",
    "type": "server-state-changed",
    "z": "flow-main",
    "server": "ha-server-lab",
    "entityid": "light.main_room_room_light_3",
    "entityidtype": "exact",
    "un多功能": "CURRENT",
    "stateType": "str",
    "outputloc": "payload",
    "forceConversione": false,
    "output": "toJSON",
    "options": {
      "preserveCurrentEntities": false
    },
    "name": "Main Light 3 State Change"
  },
  {
    "id": "main-light-3-state-out",
    "type": "mqtt-out",
    "z": "flow-main",
    "name": "Main Light 3 State",
    "topic": "homeassistant/light/main_room_room_light_3/state",
    "qos": "1",
    "retain": "true",
    "broker": "mqtt-lab",
    "x": 340,
    "y": 220,
    "wires": []
  },
  {
    "id": "main-light-3-set-in",
    "type": "mqtt-in",
    "z": "flow-main",
    "name": "Main Light 3 Set",
    "topic": "homeassistant/light/main_room_room_light_3/set",
    "qos": "1",
    "broker": "mqtt-lab",
    "x": 60,
    "y": 420,
    "wires": [
      ["main-light-3-fn"]
    ]
  },
  {
    "id": "main-light-3-fn",
    "type": "function",
    "z": "flow-main",
    "name": "Main Light 3 Service Call",
    "func": "var payload = msg.payload;\nvar data = {\n    domain: \"light\",\n    service: \"turn_\" + payload.toLowerCase(),\n    data: {\n        entity_id: \"light.main_room_room_light_3\"\n    }\n};\nmsg.payload = data;\nreturn msg;",
    "outputs": 1,
    "x": 230,
    "y": 420,
    "wires": [
      ["main-light-3-ha-call"]
    ]
  },
  {
    "id": "main-light-3-ha-call",
    "type": "api-call-service",
    "z": "flow-main",
    "server": "ha-server-lab",
    "name": "Main Light 3 HA Call",
    "domain": "{{domain}}",
    "service": "{{service}}",
    "data": "",
    "dataType": "json",
    "merge": false,
    "location": "payload",
    "source": "",
    "x": 420,
    "y": 420,
    "wires": []
  },
  {
    "id": "main-door-lock-state-ha",
    "type": "server-state-changed",
    "z": "flow-main",
    "server": "ha-server-lab",
    "entityid": "switch.main_room_door_lock",
    "entityidtype": "exact",
    "un多功能": "CURRENT",
    "stateType": "str",
    "outputloc": "payload",
    "forceConversione": false,
    "output": "toJSON",
    "options": {
      "preserveCurrentEntities": false
    },
    "name": "Main Door Lock State Change"
  },
  {
    "id": "main-door-lock-state-out",
    "type": "mqtt-out",
    "z": "flow-main",
    "name": "Main Door Lock State",
    "topic": "homeassistant/switch/main_room_door_lock/state",
    "qos": "1",
    "retain": "true",
    "broker": "mqtt-lab",
    "x": 340,
    "y": 280,
    "wires": []
  },
  {
    "id": "main-door-lock-set-in",
    "type": "mqtt-in",
    "z": "flow-main",
    "name": "Main Door Lock Set",
    "topic": "homeassistant/switch/main_room_door_lock/set",
    "qos": "1",
    "broker": "mqtt-lab",
    "x": 60,
    "y": 480,
    "wires": [
      ["main-door-lock-fn"]
    ]
  },
  {
    "id": "main-door-lock-fn",
    "type": "function",
    "z": "flow-main",
    "name": "Main Door Lock Service Call",
    "func": "var payload = msg.payload;\nvar data = {\n    domain: \"switch\",\n    service: \"turn_\" + payload.toLowerCase(),\n    data: {\n        entity_id: \"switch.main_room_door_lock\"\n    }\n};\nmsg.payload = data;\nreturn msg;",
    "outputs": 1,
    "x": 230,
    "y": 480,
    "wires": [
      ["main-door-lock-ha-call"]
    ]
  },
  {
    "id": "main-door-lock-ha-call",
    "type": "api-call-service",
    "z": "flow-main",
    "server": "ha-server-lab",
    "name": "Main Door Lock HA Call",
    "domain": "{{domain}}",
    "service": "{{service}}",
    "data": "",
    "dataType": "json",
    "merge": false,
    "location": "payload",
    "source": "",
    "x": 420,
    "y": 480,
    "wires": []
  }
]
